.Games-delete, .Games-delete:active {
  color: #c82333;
}

.Games-delete:hover {
  color: #dc3545;
  text-decoration: none;
}

.Games-row-loss {
  background-color: #fff0f0;
}

.Games-row-win {
  background-color: #f0fff0;
}

.Games-group {
  margin-top: 2rem;
}

.Games-group table {
  width: auto !important;
}

.Games-group-heading {
  border-bottom: 1px solid #e0e0e0;
}

.Games-game-win, .Games-game-loss {
  display: inline-block;
  text-align: center;
  font-size: 2rem;
  width: 2.5rem;
  height: 2.5rem;
  line-height: 2.5rem;;
}

.Games-game-win {
  background-color: #d0ffd0;
}

.Games-game-loss {
  background-color: #ffd0d0;
}

.Games-details-button {
  padding: 0px;
  padding-left: 0.5rem;
  vertical-align: baseline;
}